.sidenav {
    float: left;
    height: 100%;
    background-color: aliceblue;
    color: navy;
    z-index: 1;
    position: fixed;
    padding-right: 1rem;
    opacity: .75;
}

.nav-header {}

.modal-btn {
    position: center;
}

.rooms-list-available {}

.rooms-list-available-title {
    font-size: 1.4rem;
    text-decoration: underline;
    padding-left: 5px;
}

.rooms-list {
    text-align: center;
}

.room-name {
    font-size: 1.2rem;
    text-align: center;
}

.room-name:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.room-message-container {
    position: relative;
    margin-left: 230px;
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    background-color: aliceblue;
    opacity: .9;
}

.message-room-name {}

.message-container {}

.message-username {
    font-size: 1.3rem;
}

.message-timestamp {
    float: right;
    font-size: 1.3rem;
}

.message-content {
    font-size: 1.2rem;
}