body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(../assets/messenger_bubbles.jpg);
    background-position: top right;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.sitename {
    position: relative;
    text-align: center;
    font-size: 10rem;
    text-decoration-line: none;
    color: black;
}

.sidenav .nav-link:hover {
    color: dodgerblue;
    text-decoration: underline;
}

.clearfix::after {
    clear: both;
}