<section class="sidenav">
    <sidebar class="sitenav">
        <h2 class="nav-header">Welcome!</h2>
        <div class="modal-btn" ng-controller='ModalCtrl as modals'>
            <button type="button" class="btn btn-default" ng-click="modals.open()">Create A New Room</button>
        </div>
        <section class="rooms-list-available">
            <h2 class="rooms-list-available-title">Open BlocChats</h2>
            <div class=" rooms-list " ng-repeat="rooms in landing.rooms">
                <div class="room-button ">
                    <a class="room-name " ng-click="landing.message.getByRoomId(rooms.$id)">{{rooms.$value}}</a>
                </div>
            </div>
        </section>
    </sidebar>
</section>

<section class="room-message-container">
    <h2 class="message-room-name"></h2>
    <div class="individual-message-container" ng-repeat="currentMessage in landing.message.currentMessage">
        <p class=" message-username ">{{currentMessage.username}}</p>
        <em class="message-timestamp ">{{currentMessage.sentAt}}</em>
        <p class="message-content ">{{currentMessage.content}}</p>
    </div>
</section>