<section class="about">
    <h1 class="about-title">{{landing.heroTitle}}</h1>
    <div class="about-info">
        <p class="about-info-text">BlocChat was designed to bring a simple clean messaging service with a minimalist approach. We offer direct user-to-user contact without the fuss. Come and see what we're all about!</p>
        <ul class="about-bullets">
            <li class="point">user-designed usernames</li>
            <li class="point">slick ui</li>
            <li class="point">create chatrooms</li>
            <li class="point">message people you know</li>
        </ul>
    </div>
</section>

<section class="rooms-list-available">
    <h2 class="rooms-list-available-title">Open Chat Rooms Available</h2>
    <div class=" rooms-list " ng-repeat="rooms in landing.rooms">
        <div class="room-button ">
            <a class="room-name ">{{rooms.$value}}</a>
        </div>
    </div>
</section>